@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

@font-face {
    font-family: 'space-age';
    src: url('fonts/space-age.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

:root {
    --main-color: #3d69b4ce;
    --text-color: #ffffff; 
    --bg-color-01: #607D8B;
    --bg-color-02: #5FAFE4; 
    --color-00: #0000001a;
    --color-01: #999999;
    --color-02: #B3E7F5;
    --color-03: #0A1F44;
    --color-04: #006c8d; 
    --cor-principal: #000000ee;
    --color-highlight: #3d69b4ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--cor-principal);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-family: 'space-age', sans-serif;
    font-size: 2rem;
    color: var(--text-color);
    cursor: default;
    margin-bottom: 10px;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-principal);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--color-04);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    background-color: var(--cor-principal);
}

span {
    color: var(--color-highlight)
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    background-color: var(--cor-principal);
}

.home-img {
    text-align: right;
}

.about-img {
    text-align: left;
}

.home-img img, .about-img img {
   width: 100%;
   height: auto;
}

.about {
    background-color: var(--cor-principal);
}

.home-content, .about-content {
    width: 45%;
}

.home-content h1, .about-content h1 {
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3, .about-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.portfolio h2, 
.contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.skills h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border: none;
    max-width: 100%;
}

.skills-container, .skills-box {
    padding: 1rem;              
    border-radius: 1.2rem;
    text-align: center;
    background-color: var(--cor-principal);
    transition: 0.5s ease;
}

.skills-box {
    border: solid 0.15rem var(--color-02);

}

.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: calc(25% - 1rem);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 7rem; 
    height: 9.5rem; 
    min-width: 150px; 
    min-height: 8rem;
    max-width: 200px;
    border-radius: 1rem;
    box-sizing: border-box;
}

.skills-container, .skills-box:hover {
    transform: scale(1.05);
}

.skills-box i {
    font-size: 4.3rem;
    color: var(--color-02);
}


.skills-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*button*/
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--color-highlight);
    border-radius: 2rem;
    color: var(--cor-principal);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    font-family: "Poppins", sans-serif;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--color-highlight);
    background-color: inherit;
    color: var(--color-02);
    cursor: pointer;
}

/*---menu hamburguer---*/
.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

/*---/menu hamburguer---*/

.portfolio {
    background-color: var(--cor-principal);
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    overflow: visible;
}

.portfolio-box {
    flex: 1 1 auto;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--cor-principal);
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    max-width: 100%;
    margin: 8px 4px;
    display: inline-block;
    transition: 0.6s ease;
    flex: 1 1 100%; 
}


.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box img {
    width: 100%;
    transition: 0.6s ease;
    height: auto;
    display: block;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    font-size: 0;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--color-highlight));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7 7rem;
    transform: translateY(100%); 
    transition: 0.3s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 1.8rem;
}

.portfolio-layer p {
    margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--cor-principal);
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
    border: solid 1px var(--cor-principal);
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input,
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--cor-principal);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    border: solid 0.15rem var(--color-02);
}

form textarea {
    resize: none;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--cor-principal);
}


.social-media img {
    width: 3.5rem;
    display: inline-flex;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.16rem var(--color-highlight);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-highlight);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--color-highlight);
    color: var(--color-01);
    box-shadow: 0 0 0.3rem var(--color-highlight);   
}

/*=== media queries ===*/

/* Extra Small (xs): Smartphone (portrait) */
@media (min-width: 0px) {
    .menu-hamburguer {
    display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home, .about {
        flex-direction: column;
        gap: 5.2rem;
    }

    .home-img, .about-img {
        width: 90%;
        max-width: 90%;
    }

    .home-img img, .about-img img {
        width: 90%;
        max-width: 90%;
    }

    .home-img img {
        margin-right: 15px;
    }

    .about-img img {
        text-align: center;
        margin-left: 15px;
    }

    .home-content, .about-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
        margin-top: 30rem;
    }

    .home-content h1, .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skills-box {
        width: 100%;
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
    }

    .portfolio-layer h4 {
        font-size: 1.9rem;
        text-align: center;
        justify-content: center;
    }

    .portfolio-box img {
        width: 100%;
        height: auto;
    }

    .portfolio-box {
        flex: 1 1 33%; 
        max-width: calc(33,33% - 16px); 
        margin: 8px 4px;
        display: inline-block;
    }
}


/*Small (sm): Smartphone (landscape)*/
@media (min-width: 576px) {
    .home-img, .about-img {
        width: 90%;
        max-width: 90%; 
    }

    .home-img img, .about-img img {
        width: 90%;
        max-width: 90%;
    }

    .skills-box {
        width: 70%;
    }

    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 70px;
    }


    .portfolio-box { 
        flex: 1 1 33%; 
        max-width: calc(33,33% - 16px); 
        margin: 8px 4px;
        display: block;
    }

    .portfolio-layer h4 {
        font-size: 1.9rem;
        text-align: center;
    }
}

/*Medium (md): Tablet*/
@media (min-width: 768px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img {
        max-width: 90%;
        width: 90%;
    }

    .home-img img {
        max-width: 90%;
        width: 90%;
    }

    .about-img img {
        max-width: 100%;
        width: 100%;
        margin-top: 10px;
    }

    .home-content, .about-content {
        width: 100%;
    }

    .skills-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-box {
        flex: 1 1 33%; 
        max-width: calc(33,33% - 16px); 
        margin: 8px 4px;
        display: block;
        margin-bottom: 32px;
    }

    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    form .input-box input {
        width: 49%;
    }

    .portfolio-layer h4 {
        font-size: 2.8rem;
        text-align: center;
    }
} 

/*Large (lg): Notebook*/
@media (min-width: 992px) {

    .home-img, .about-img {
        width: 85%;
        max-width: 85%;
    }

    .home-img img, .about-img img {
        width: 85%;
    }

    .skills-container {
        flex-direction: row;
        gap: 1.2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }  

    .portfolio-box {
        flex: 1 1 33%; 
        max-width: calc(33% - 16px); 
        margin: 8px 4px;
        display: inline-block;
    }

    .portfolio-layer h4 {
        font-size: 1.6rem;
    }
}

/*Extra large (x1): Desktop*/
@media (min-width: 1200px) {

    .home-img, .about-img {
        width: 80%;
    }

    .home-img img, .about-img img {
        width: 80%;
    } 

    .about-img img {
        width: 80%;
        margin-left: 20px;
    } 

    .about-content h1 {
        font-size: 1.5rem;
    }

    .about-content h3 {
        font-size: 2.5rem ;
    }

    .home-content h1 {
        font-size: 2.7rem;
    } 

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .portfolio-box {
        width: calc(70% - 16px); 
        flex: 1 1 25%; 
        max-width: calc(33% - 16px); 
    }

    .portfolio-layer h4 {
        font-size: 1.6rem;
    }

    
} 

/*=== /media queries ===*/
